#AuthMYSQL on
#AuthUserFile /dev/null
#AuthMySQL_Authoritative on
#AuthMySQL_DB auth
#AuthMySQL_Password_Table users
#AuthMySQL_Group_Table users
#AuthMySQL_Empty_Passwords off
#AuthMySQL_Encryption_Types Plaintext

#AuthName "ACCES SECURISE !!!"
#AuthType Basic



       AuthType Basic
       AuthName "Accès réservé !!!"
       AuthBasicAuthoritative Off
       AuthUserFile /dev/null
       AuthMySQL On
       AuthMySQL_Authoritative      on
       AuthMySQL_Host               localhost
       AuthMySQL_DB                 db
       AuthMySQL_User               root
       AuthMySQL_Password           progtr00
       AuthMySQL_Password_Table     users
       AuthMySQL_Group_Table        groups
       AuthMySQL_Username_Field     user_name
       AuthMySQL_Password_Field     user_passwd
       AuthMySQL_Group_Field        user_group
       AuthMySQL_Encryption_Types   Plaintext
       Require group                user




<Limit GET POST>
require group <group>
</Limit>
